<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Rainbow - Rainbow is a Smart decentralized token builds on XRC20</title>
</head>
<body style="background-color:#eee7fe;">
    <div style="position:relative; background-color: #1d0553; height:100%;">
    <div class="container">
    <nav class="navbar navbar-expand-lg w3-animate-zoom">
        <a class="navbar-brand" href="#"><img src="../static/Images/logo-rm.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-2x fa-bars" style="color: white;" aria-hidden="true"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Introduction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#what">What is Rainbow?</a>
                  <a class="dropdown-item" href="#how">How it works?</a>
                  <a class="dropdown-item" href="#roadmap">Roadmap</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link ml-3" href="#buy">Buy $RAIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3" href="#buy">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3" href="#news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      
          <div class="row first-row">
              <div class="col-md-12 col-sm-12 col-lg-6 w3-animate-zoom">
                <h1 class="banner-header">
                    Rainbow is a smart decentralized Xrc20 token builds on IoTeX.
                </h1>
                <p class="banner-p">
                    Hyper deflationary reflect and automatic liquidity protocol & static farming by holding
                </p>
                <button class="btn btn-lg header-btn ">
                    <a class="header-a" href="https://mimo.exchange/swap" target="_blank"><strong>Buy On Mimo Exchange</strong></a>
                </button><br>
                
                <button class="btn mt-3 header-btn-2">
                    <a class="header-a2" href="../static/ioPay-Setup-1.0.14.exe" download>
                        <i class="fa fa-windows" aria-hidden="true" style="margin-right:5px;"></i>
                        <strong>Available For Windows</strong>
                    </a>
                </button>
                <button class="btn mt-3 header-btn-2">
                    <a class="header-a2" href="https://play.google.com/store/apps/details?id=io.iotex.iopay.gp&hl=tr&gl=US" target="_blank">
                        <i class="fa fa-android" aria-hidden="true" style="margin-right:5px;"></i>
                        <strong>Available For Android</strong>
                    </a>
                </button>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-6 w3-animate-zoom mx-auto" style="text-align:center;">
                  <img src="../static/Images/2.webp" class="header-image">
              
          </div>
      </div>
          
      
          <div class="custom-shape-divider-bottom-1621353902">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
</div>
</div>

<section id="what">
  <div class="container">
    <h1 class="main-header" data-aos="fade-right"><strong>Our Tokens</strong></h1>
    <h2 class="body-header" data-aos="fade-right">What is the Rainbow?</h1>
    <p class="body-p" data-aos="fade-right">The Rainbow is a token which has the advantage of benefiting from the interests of the iotex blockchain.</p>
  

  <div class="row icon-row">
    <div class="col-md-12 col-sm-12 col-lg-5 icon-body body1" data-aos="fade-right">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-lg-3 mx-auto" style="margin-left:auto;margin-right:auto;text-align:center;">
          <img src="../static/Images/transfer.png" class="icon" >
        </div>
        <div class="col-md-9 col-sm-12 col-lg-9">
          <h1 class="icon-p-span">Easily Transferable</h1>
          <p class="icon-p">
            It is limited to <strong style="color:#1d0553;">$1,000,000 coins</strong> and is defined as being transferable and redeemable on the iotex blockchain.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-5 icon-body body2" data-aos="fade-right">
      <div class="row">
        <div class="col-sm-12 col-lg-3 col-md-3" style="margin-left:auto;margin-right:auto;text-align:center;">
          <img src="../static/Images/transaction.png" class="icon mx-auto">
        </div>
        <div class="col-sm-12 col-lg-9 col-md-9">
          <h1 class="icon-p-span">
            No Transaction Fees
          </h1>
          <p class="icon-p">
            It is transferable and redeemable on the iotex blockchain at near zero fee.You can exchange it on <strong style="color:#1d0553;">Mimo Exchange.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<div class="container mx-auto" data-aos="fade-right">
  <h1 class="header-table" data-aos="fade-right">Token Sale Term</h1>
  <table class="table mx-auto " data-aos="fade-right" style="width:50%;font-size:18px;">
    <thead>
      <tr>
        <th scope="col" class="header-term">Name :</th>
        <td>$RAIN</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="header-term">Contract :</th>
        <td><span style="width:90%;">io18d6759s7k4pgw842844<br>vf9uktrcvfjdwekw9ea</span></td>
        
      </tr>
      <tr>
        <th scope="row" class="header-term">Total Supply :</th>
        <td>1,000,000</td>
        
      </tr>
      <tr>
        <th scope="row" class="header-term">Starting Circulating Supply :</th>
        <td>15,000</td>
        
      </tr>
    </tbody>
  </table>
  <div class="buy-btn-div mx-auto" style="text-align: center;">
  <button class="btn btn-lg buy-btn mx-auto">
    <a class="buy-link" href="https://mimo.exchange/swap" target="_blank"><strong>BUY TOKENS NOW!</strong></a>
</button>
</div>
</div>

<!-- #dccffc -->
<section id="how">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-6" data-aos="fade-right">
        <img src="../static/Images/work.jpg" alt="work" class="how-work-1">
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6"  data-aos="fade-right">
        <h1 class="how-header">HOW RAINBOW WILL WORK?</h1>
        <p class="how-p">As Rainbow, our aim is to create a quality project that moves slowly and surely instead of being a fast / poor quality project. For example, we will not add large amounts to the liquidity pool at once. We will gradually increase our liquidity pool as our project evaluates and develops over time. We will prove to people how big things can be achieved with small things. This way we will show our quality.</p>
        <p class="how-p">In order to protect both our project and our investors, there will be only 15,000 Circulating Supplies to start with.
          Over time, our Project will develop new features, and then we will show our main goal to our large community. We will achieve this together with the Rainbow large community.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-6"  data-aos="fade-right">
        <h1 class="how-header">WARNING</h1>
        <p class="how-p second p">
          Our Rainbow token project is innovative but has yet to prove itself because it is very recent. Buying, selling and pooling $RAIN can result in large losses as we cannot control the actions of early Mimo DEX traders who have bought large amounts of $RAIN tokens. $ RAINs can only be traded on the Mimo Decentralized Exchange and the price of $RAINs is partially linked to the price of $IOTX. Initial market acceptance was good thanks to the innovative community of IoTeX. We hope the community decides to hold the $RAIN for the long term and slowly add liquidity. The Rainbow token team is keeping a large portion of the $RAIN offering and we intend to use it for the benefit of long term holders. We can only urge you to trust us.
        </p>
        
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6"  data-aos="fade-right">
        <img src="../static/Images/warning.jpg" alt="warning" class="how-work-2">
       
      </div>
    </div>
  </div>
</section>


<section id="buy">
  <h1 class="buy-header" style="text-align:center;" data-aos="fade-right">
    How Can I Buy $RAIN</h1>
    <h3 class="buy-header-2" data-aos="fade-right">
      It's easy and secure process!
    </h3>
  <div class="container-fluid how-buy">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-sm-12 step1" data-aos="fade-right">
        <h1 class="number">
          01
        </h1>
        <h3 class="second-header">
          Install an ioPay Wallet on your phone or desktop and purchase some IoTeX (IOTX)From an IoTeX listed exchange. 
        </h3>
        <div style="text-align:center;">
        <button class="btn mt-3 number-btn-2 number-btn-windows">
          <a class="header-a2" href="../static/ioPay-Setup-1.0.14.exe" download>
              <i class="fa fa-windows" aria-hidden="true" style="margin-right:5px;"></i>
              <strong>Available For Windows</strong>
          </a>
      </button>
    </div>
      <div style="text-align:center;">
      <button class="btn mt-3 number-btn-2 number-btn-playstore">
          <a class="header-a2" href="https://play.google.com/store/apps/details?id=io.iotex.iopay.gp&hl=tr&gl=US" target="_blank">
              <i class="fa fa-android" aria-hidden="true" style="margin-right:5px;"></i>
              <strong>Available For Android</strong>
          </a>
      </button>
    </div>
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12 mx-right" style="text-align:left;" data-aos="fade-right">
        <img src="../static/Images/first.jpg" class="first-step" alt="first">
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12 step2" data-aos="fade-right">
        <h1 class="number">
          02
        </h1>
        <h3 class="second-header" style="padding-bottom:120px;">
          Send your $IOTX directly to your ioPay Wallet as the destination address. To swap $IOTX for $RAIN, you must manually add $RAIN to your XRC20 Tokens list first.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4 col-sm-12" data-aos="fade-right">
        <img src="../static/Images/second.jpg" class="first-step" alt="second" style="text-align:left;">
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12 step3" data-aos="fade-right">
        <h1 class="number">
          03
        </h1>
        <h3 class="second-header">
          You can then access Mimo.Exchange via Iopay Dapps and purchase Rainbow with the iotex’s you sent to your wallet.
          </h3>
          <div style="text-align:center">
          <button class="btn mt-3 number-btn-3" >
            <a class="header-a2" href="https://mimo.exchange/swap" target="_blank">
               
                <strong>Mimo Exchange</strong>
            </a>
        </button>
      </div>
      </div>
      <div class="col-md-12 col-lg-4 col-sm-12" data-aos="fade-right">
        <img src="../static/Images/third.jpg" class="first-step" alt="third" style="text-align:left;">
      </div>
    </div>
  </div>
</section>


<section id="roadmap" style="background-color:#1d0553;position:relative;bottom:8px;">
  <!-- <svg data-name="Layer 1" style="fill:#eee7fe;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
</svg> -->
<section class="intro">
  <div class="container" data-aos="fade-right">
    <h1 class="roadmap-header" style="padding-top:30px;">Roadmap</h1>
    <h1 class="roadmap-header-2">
      Our Strategy and Project Plan
    </h1>
  </div>
</section>

<section id="roadmap" class="timeline" style="padding-bottom:50px;">
  <ul>
    <li class="in-view">
      <div data-aos="fade-right">
        <time>March-2021</time><br> Rainbow idea was conceived. We made blue print of our idea, draft a business plan and Power Point Presentation.
      </div>
    </li>
    <li class="in-view" >
      <div data-aos="fade-right">
        <time>April-2021</time><br> We launched Rainbow design XRC20 build on Iotex and Web Site & Social Accounts. We integrated Rainbow IoTex integration.
      </div>
    </li>
    <li class="in-view" >
      <div data-aos="fade-right">
        <time>May-2021</time><br> We have added Liquidity and listing on Mimo.Exchange
      </div>
    </li>
    <li class="in-view" >
      <div data-aos="fade-right">
        <time>Stay Tuned…</time><br> We are working on increasing thi Liquid amount, IoTex Dapps Full Integration and NFT marketplace.
      </div>
    </li>
    
  </ul>
</section>
</section>
<div class="custom-shape-divider-bottom-1621448700">
  <svg data-name="Layer 1" style="fill:#1d0553;position:relative;bottom:8px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>

<section id="news">
  <div class="container">
    <h1 class="news-header" data-aos="fade-right">Rainbow</h1>
    <h1 class="second-news-header" data-aos="fade-right">News & Blog</h1>
    <div class="row news-row">
      <div class="col-md-12 col-sm-12 col-lg-6" data-aos="fade-right">
        <div class="row" >
          <div class="col-md-5 col-sm-12 col-lg-5">
            <img src="../static/Images/blog1.jpg" alt="blog-1" class="blog-1">
          </div>
          <div class="col-md-7 col-sm-12 col-lg-7">
            <h2 class="post-header">
              March 2021: Idea was conceived
            </h2>
            <p class="post-p">
              Rainbow idea was conceived. We made blue print of our idea, draft a business plan and Power Point Presentation.
            </p>
            <p class="author">
              <strong>By admin</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6" data-aos="fade-right">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-lg-5">
            <img src="../static/Images/blog2.jpg" alt="blog-2" class="blog-1">
          </div>
          <div class="col-md-7 col-sm-12 col-lg-7">
            <h2 class="post-header">
              April 2021: Launched Rainbow
            </h2>
            <p class="post-p">
              We launched Rainbow design XRC20 build on Iotex and Web Site & Social Accounts. We integrated Rainbow IoTex integration.
            </p>
            <p class="author">
              <strong>By admin</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row news-row2">
      <div class="col-md-12 col-sm-12 col-lg-6" data-aos="fade-right">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-lg-5">
            <img src="../static/Images/blog3.jpg" alt="blog-3" class="blog-1">
          </div>
          <div class="col-md-7 col-sm-12 col-lg-7">
            <h2 class="post-header">
              May 2021: Added Liquidity Pool
            </h2>
            <p class="post-p">
              We have added liquidity pool and listing on Mimo exchange.
            </p>
            <p class="author">
              <strong>By admin</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6" data-aos="fade-right">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-lg-5">
            <img src="../static/Images/blog-4.jpg" alt="blog-4" class="blog-1">
          </div>
          <div class="col-md-7 col-sm-12 col-lg-7">
            <h2 class="post-header">
              Coming Soon...
            </h2>
            <p class="post-p">
              We are working on increasing thi Liquid amount, IoTex Dapps Full Integration and NFT marketplace.
            </p>
            <p class="author">
              <strong>By admin</strong>
            </p>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>

<section id="contact">
  <h1 class="main-header-contact" data-aos="fade-right">
    Contact Us
  </h1>
    <hr class="contact-hr mx-auto" data-aos="fade-right">
  <p class="contact-p" data-aos="fade-right">
    For all enquiries, please email us using form below.
  </p>
  <div class="container">
    <div class="row contact-row">
      <div class="col-md-6 col-sm-12 col-lg-6" style="text-align:center;" data-aos="fade-right">
        <img src="../static/Images/contact.webp" alt="contact-photo" class="contact-img">
      </div>
      <div class="col-md-6 col-sm-12 col-lg-5" data-aos="fade-right">
        <h1 class="contact-header">
          Get In Touch
        </h1>
        <form data-aos="fade-right" action="{{url_for('email')}}" method="POST">
          <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" name="name" class="form-control" id="name" required autocomplete="off" aria-describedby="emailHelp" placeholder=" Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1"> Email address</label>
            <input type="email" name="email" class="form-control" required autocomplete="off" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail12"> Message</label>
            <textarea type="text" name="message" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" placeholder=" Enter Message"></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="subscribe">
  <svg style="fill:#eee7fe;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
</svg>
  <div class="container">
    <div class="row">
    <div class="col-md-12 col-lg-1 col-sm-12" style="text-align:center;" data-aos="fade-right">
      <img src="../static/Images/email.png" alt="email" class="email-icon">
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12" data-aos="fade-right">
      <p class="subscribe-p">	
        Subscribe to our newsletter and stay up to date with all events coming straight:</p>
    </div>
    <div class="col-md-12 col-lg-5 col-sm-12" data-aos="fade-right">
      <form action="{{url_for('subscribe')}}" method="POST">
        <div class="form-group">
         
            <input type="email" name="email" class="form-control form-control-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Your E-mail Address" required autocomplete="off">
            <div class="sub-btn">
              <button type="submit" class="btn btn-lg btn-subscribe"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>    Subscribe</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<section id="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-1s1" data-aos="fade-right">
          <img src="../static/Images/logo-rm.png" alt="logo"> <span class="logo-title">Rainbow</span>
          <p class="footer-p">
            Rainbow is a smart decentralized Xrc20 token builds on IoTeX.
          </p>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-2s1 footer-2" data-aos="fade-right">
          <h3 class="footer-header">Contacts</h3>
          <div style="margin-top:30px;">
            <i style="color:aquamarine;" class="fa fa-map-marker" aria-hidden="true"></i> <span style="margin-left:10px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, at.</span>
            <hr style="border:1px solid white;">
            <span><i style="color:aquamarine;" class="fa fa-phone" aria-hidden="true"></i><span style="margin-left:10px;">Phone: +1 123 456 7890</span></span><br>
            <span><i style="color:aquamarine;" class="fa fa-envelope-o" aria-hidden="true"></i><span style="margin-left:10px;">Email: support@rain-bow.xyz</span></span><br>
            <span><i style="color:aquamarine;" class="fa fa-globe" aria-hidden="true"></i><span style="margin-left:10px;">Website: rain-bow.xyz</span></span>
        </div>
        </div>
        <div class="col-md-5 col-sm-12 col-lg-2 footer-devider-3s1 footer-devider-3" data-aos="fade-right">
          <h3 class="footer-header">Useful Links</h3>
          <ul>
            <li><a href="#roadmap">Roadmap</a></li>
            <li><a href="#buy">Buy $RAIN</a></li>
            <li><a href="#what">What is Rainbow?</a></li>
            <li><a href="#how">How it works?</a></li>
            <li><a href="#buy">Download</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-3 footer-devider-4s1 footer-devider-3" data-aos="fade-right">
          <h3 class="footer-header">Newslatter</h3>
          <p class="footer-3-p">Subscribe to our newsletter and stay up to date with all events coming straight in your mailbox:</p>
          <form action="{{url_for('subscribe')}}" method="POST">
            <div class="form-group">
              
                <input type="email" name="email" class="form-control form-control-footer" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Your E-mail Address"  required autocomplete="off">
                <button type="submit" class="btn btn-lg btn-subscribe-footer"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>    Subscribe</button>
                <small id="emailHelp" class="form-text text-muted" style="color:white;">Personal Information will be encrypted.</small>
            
            </div>
          </form>
        </div>
      </div>

      <div class="row second-footer-row">
        <div class="col-md-5 col-sm-12 col-lg-5 copyright" style="text-align:center;">
          <p>Copyright © Rainbow 2021. All rights reserved.</p>
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3">
          
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 social-icons" style="text-align:center;">
          <a href="#"><i class="fa social-icon fa-2x fa-twitter-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa social-icon fa-2x fa-facebook-official" aria-hidden="true"></i></a>
          <a href="#"><i class="fa social-icon fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa social-icon fa-2x fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa social-icon fa-2x fa-telegram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  </footer>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset: 240,
          duration: 1000
      });
    </script>
    <script src="../static/JS/script.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>